/* You can add global styles to this file, and also import other style files */
.btn-primary {
    background-color: blue !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: red !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: darkblue !important;
  }
  
  .btn-secondary:hover {
    background-color: darkred !important;
  }
  .item-text .title {
    font-weight: bold;
    color: #333; /* Dark grey for better readability */
    margin-right: 5px; /* Adds space between title and value */
}

.item-text {
    margin-bottom: 5px; /* Space between each line */
    font-size: 16px; /* Slightly larger text for better readability */
}
.nav-link.active {
    font-weight: bold; /* Makes the text bold */
    color: #007bff; /* Primary color for active state */
}

.nav-link {
    color: #555; /* Regular state color */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover {
    color: #007bff; /* Color changes on hover */
}

  /* Link styling */
  .nav-link {
    color: #333; /* Darker text for better readability */
    margin-right: 15px; /* Space between links */
    transition: color 0.3s; /* Smooth transition for hover effects */
  }
  
  .nav-link:hover {
    color: #007BFF; /* Highlight color on hover */
  }
  
  /* Search bar styling */
  .search-bar input[type="text"] {
    border: 2px solid #ccc; /* Solid border with a light color */
    padding: 8px 12px; /* Padding for text inside input */
    border-radius: 20px; /* Rounded borders for the input */
    width: 200px; /* Fixed width, adjust as needed */
  }
  
  .search-button {
    background-color: #007BFF; /* Button color */
    color: white; /* Text color */
    border: none; /* No border for the button */
    padding: 8px 16px; /* Padding inside the button */
    border-radius: 20px; /* Rounded borders for the button */
    cursor: pointer; /* Pointer cursor on hover */
    margin-left: 5px; /* Space between input and button */
  }
  